body{
    background-color: #f8f5f2;
    color:#33272a;
    
}

.header-images{
    width:400px;
    height:300px;
    border-radius:2px;
    box-shadow: 0 0 5px 6px lightskyblue;
    text-align: center;   
}
 .product-images1{
    height:300px;
    width:400px;
    text-align: center;
    margin:5px auto;
    padding :7px;
    border-radius:5px;
    box-shadow:0 0 10px 5px lightsalmon;
}

 
    

 

