body{
    background-color: #f8f5f2;
    color:#33272a;
    
}

.product-container h1{
    font-size: 45px;
    text-align: center;
    padding: 30px 10px;
    color: #232323;
}

.product-desc-container{
    background-color: #f8f5f2;
    width: 100%;
}
.product-desc{
    display: flex;
}
