body{
    background-color: #f8f5f2;
    color:#33272a;
    
}

.header-images{
    width:800px;
    height:400px;
    border-radius:2px;
    box-shadow: 0 0 5px 6px lightskyblue;
    text-align: center;
    
    
}
 .product-images1{
    height:300px;
    width:300px;
    text-align: center;
    margin:5px auto;
    padding :7px;
    border-radius:5px;
    box-shadow:0 0 10px 5px lightsalmon;
}



 .product-img1{
    height:200px;
    width:200px;
    background-color:#f3dfd6;
    padding :4px;
    box-shadow: 0px 0px 5px 5px #f3dfd6;
    border-radius:7px;


 }

 .btn-secondary{
    display:flex;
    
 }

 .product-card1{
    margin:2px auto;
    paddding:2px;
    height:200px
    width:200px;

    
    

 }
 /* Navbar Style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #faddcf;
}
 
    

 

