body{
    background-color: #f8f5f2;
    color:#33272a;
    
}

.header-images{
    width:400px;
    height:300px;
    border-radius:2px;
    box-shadow: 0 0 5px 6px lightskyblue;
    text-align: center;
    
    
}
 .product-images1{
    height:300px;
    width:400px;
    text-align: center;
    margin:5px auto;
    padding :7px;
    border-radius:5px;
    box-shadow:0 0 10px 5px lightsalmon;
}
.product-card-container1{
    margin:7px auto;
    padding:6px;
    background-color:#f8f5f2 ;

}
 .product-img1{
    height:200px;
    width:200px;
    background-color:#f3dfd6;
    padding :4px;
    box-shadow: 0px 0px 5px 5px #f3dfd6;
    border-radius:7px;

 }

 .btn-secondary{
    display:flex;
    
 }
 
    

 

