body{
    background-color: #f8f5f2;
    color:#33272a;
    
}

.dmart-image{
    width:95%;
    height:500px;
    border:5px solid lightgreen;
    box-shadow: 0 0 5px 6px lightcoral;
    text-align: center; 
    justify-content:center;  
    display:flex;
    margin:0 auto;
    padding:5px;
}
.dmart-image:hover{
    box-shadow: 0 0 4px 4px lightcoral;
    tansition:0.3s;
}

.img-div{
    
    padding: 10px;
    justify-content:flex;
}
.premium{
    text-align: center;
    text-decoration: none;
    color:black;
    padding:7px;
    margin:9px auto;
    display:flex;
    justify-content: center;
    background-color: rgb(236, 211, 177);
    border: 2px solid lightgreen;
    
}

.premium:hover{
    background-color: antiquewhite;
    
}
 .image-container{
    margin:10px auto;
    padding:10px;
    width:50px;
    display: flex;
    justify-content:center;
   
 }
 .image-container:hover{
    box-shadow: #f3dfd6;
    transition: 0.3s;
 }

 .product-img{
    margin: 10px auto;
    padding: 5px;
    background-color:  #f3dfd6;
    border: 2px solid slategrey;
    text-align: center;
    
 }

 .product-card1:hover{
    box-shadow: #f3dfd6;
    transition: 0.3s;
 }