*{
    margin: 0;
    padding: 0;
}
.main_premium_picks_container{
    background-color: #f8f5f2;
    height: 100vh;
    width: 100%;
}
.premium_picks_container h1{
    font-size: 45px;
    text-align: center;
    padding: 40px 10px;
    color: #232323;
}
.product-card-container{
   width: 97%;
   display: flex;
   background-color: #fffffe;
   margin: 10px 20px;
}
.product-card{
    margin: 20px;
    width: 250px;
    height: 380px;
    background-color: #f8f5f2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
}
.product-card img{
    height: 130px;
    margin: 10px;
}
.product-name{
    margin: 10px;
    color: #232323;
    font-size: 15px;
}
.discount-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price-with-taxes{
    display: flex;
    flex-direction: column;
}
.taxes{
    margin: 0px 10px;
    color: #6b6b6b;
    font-size: 13px;
}
.price-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
}
.mrp-price{
    color: #6b6b6b;
}
.dmart{
    font-weight: 600;
    font-size: 17px;
}
.save-amt{
    margin: 0px 10px;
    padding: 7px;
    background-color: #abe5e5;
    margin-left: 20px;
    border-radius: 5px;
}
.weight-btn{
    width: 90%;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}
.weight-btn span{
    font-size: 13px;
    color: #6b6b6b;
}
.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0px 10px;
    font-weight: 600;
    background-color: #078080;
    color: #232323;
    border: none;
    border-radius: 5px;
}
.add-to-cart img{
    width: 18px;
    height: 18px;
}