body{
    margin: 0;
    padding: 0;
    background-color: #f8f5f2;
    height: 100vh;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.signup-container{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 800px;
}
.signup-img img{
    height: 500px;
}
.form-container{
    background-color: #faddcf;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container h1{
    padding: 20px 10px;
    font-size: 32px;
    color: #232323;
    text-align: center;
}
.input{
    border-radius: 5px;
    width: 85%;
    margin: 10px 20px;
    padding: 12px;
    background-color: #fffffe;
    border: none;
}
.input:hover{
    border: solid 1px #f45d48;
}
.input::placeholder{
    color: #232323;
}
.checkbox-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 22px;
}
.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-container label {
    font-size: 14px;
    color: #232323;
}
.signup-btn{
    width: 90%;
    margin: 10px 22px;
    padding: 10px;
    padding: 7px 20px; 
    background-color: #f45d48; 
    color: #232323; 
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.already-account {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
    font-size: 14px;
    color: #232323; 
}

.already-account p {
    margin: 0; 
    margin-right: 5px; 
    font-weight: 400;
}

.already-account a {
    color: #f45d48;
    text-decoration: none; 
    font-weight: 600; 
}

.already-account a:hover {
    text-decoration: underline; 
    color: #f14731;
}

/* Media Queries for Tablet */
@media screen and (min-width: 501px) and (max-width: 768px){
    section{
        margin-top: 30px;
    }
    .signup-container{
        flex-direction: column;
        height: 600px;
        width: 450px;
    }
    .signup-img img{
        display: none;
    }
    .input{
        width: 86%;
        margin: 7px 20px;
    }
    .signup-btn{
        width: 91%;
        font-size: 15px;
    }
    .already-account {
        margin: 15px 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px){
    .signup-container{
        height: 500px;
        width: 700px;
    }
    .signup-img img{
        height: 500px;
        width: 350px;
    }
    .form-container h1{
        font-size: 30px;
    }
    .input{
        width: 82%;
        margin: 10px 20px;
    }
    .signup-btn{
        width: 88%;
        font-size: 15px;
    }
    .already-account {
        margin: 20px 0px;
    }
}

/* Media Queries for Mobile Device */
@media screen and (max-width: 500px){
    section{
        margin-top: 30px;
    }
    .signup-container{
        flex-direction: column;
        height: 550px;
        width: 300px;
    }
    .signup-img img{
        display: none;
    }
    .form-container h1{
        font-size: 26px;
    }
    .input{
        width: 80%;
        margin: 7px 20px;
    }
    .signup-btn{
        width: 87%;
        font-size: 15px;
    }
    .already-account {
        margin: 15px 0px; 
        font-size: 14px;
        color: #232323; 
    }
}
