*
{
    margin: 0;
    padding: 0;
}
.product-card-container1
{
    width: 97%;
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fffffe;
    margin: 10px 20px;
}
.product-card1
{
    
    margin: 20px 40px;
    width: 250px;
    height: 380px;
    background-color: #f8f5f2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
    
    
}
.product-card1:hover
{
    box-shadow: 0px 0px 5px 5px #f3dfd6;
}
.save-amt1
{
    margin: 0px 10px;
    padding: 7px;
    background-color: #e7fdfd;
    margin-left: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 20px;
   
}
.add-to-cart1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 0px 10px;
    font-weight: 600;
    padding: 10px;
    background-color: #078080;
    color: #232323;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.navbar-font-family
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #faddcf;
}





/* Products sub page */
.product-desc-container1
{
    background-color:  #f8f5f2;
    width: 100%;
    margin-top: 35px;
}

.product-desc1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.image-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 30px 30px 100px;
    height: 500px ;
    width: 500px;
   
}
.product-img-1-2{
    margin: 30px;
    height: 400px;
    border: 1px solid black;
   
}
.product-info1{
    margin: 80px 100px 30px 30px;

}
.name-of-product1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.ml-gm1{
    font-weight: 200;
}
.sub-category{
    font-size: 16px;
    font-weight: 600;
}
.variant{
    margin-top: 10px;
    color: #6b6b6b;
    font-size: 19px;
}
.weight{
    margin-top: 10px;
    padding: 10px 30px;
    border: #078080 solid 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #078080;
    margin-bottom: 25px;
}
.price-tag{
    margin-top: 15px;
    display: flex;
    gap: 50px;
}
.mrp-price-1{
    color: #6b6b6b;
    font-size: 18px;
}
.taxes-include{
    font-size: 15px;
    color: #6b6b6b;
}
.bold-price{
    font-weight: 600;
    font-size: 20px;
}
.value{
    margin-left: 20px;
    padding: 0px 10px;
    font-size: 15px;
    color: #6b6b6b;
    background-color: rgba(107, 107, 107, 0.1);
}
.buy{
    width: 700px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
   
}
.buy p
{
    padding: 10px;
    margin-top: 10px;
    height: 23px;
  
    color: #078080;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(7, 128, 128, 0.2);
}
.cart1{
    
    width: 30%;
    margin: 10px;
    height: 30px;
}
.img-size
{
   height: 20px;
   width: 20px;
}
.vegetarian{
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgba(107, 107, 107, 0.1);
    border: none;
}
.vegetarian img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
.desc-container{
    margin: 30px 100px;
}
.desc-container h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.desc-heading{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.more-desc{
    margin-top: 5px;
    font-size: 17px;
}
.nav-text{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 700;

}
.sign-in{
    background-color: tomato;
    color: black;
    border-radius: 10px;
    margin-right: 20px;
    height: 30px;
    width: 70px;
    cursor: pointer;
    border: none;
}