*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f5f2;
    color:#33272a;   
}

.font-family{
    font-family: "Mulish", sans-serif;
}

.bg-light{
    background-color: #f8f5f2;

}

.bg-primary{
    background-color: #232323;
}

.bg-secondary{
    background-color: #f45d48;
}

.text-primary{
    color: #232323;
} 

.text-secondary{
    color:  #f45d48;
}

.text-dark{
  color:#033030;

}

.text-center{
    text-align: center;
    margin:10px auto;
    padding:5px;
}

.btn-primary{
    background-color:#232323; ;
}

.btn-secondary{
    background-color: #f45d48;
}

.no-underline{
    text-decoration: none;
}

.center-items{
    margin:10px auto;
    display: block;
}

/* Navbar Style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #faddcf;
}
.logo-img img{
    height: 60px;
}
.menu-name{
    text-decoration: none;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
    font-style: italic;
}
.menu-name:hover{
    color: #f45d48;
}
.signin{
    padding: 5px 20px;
    background-color: #f45d48;
    border-radius: 5px;
    color: #232323;
}
.signin:hover{
    box-shadow: 0px 0px 10px 5px #ea6959;
    cursor: pointer;
    color: #232323;
    background-color: #f45d48;
}
.signin a:hover{
    color: #232323;
}

/* Card style */
.main_premium_picks_container{
    width: 100%;
    background-color: #f8f5f2;
}
.premium_picks_container h1{
    font-size: 45px;
    text-align: center;
    padding: 30px 10px;
    color: #232323;
}
.product-card-container{
   width: 97%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   background-color: #fffffe;
   margin: 10px 20px;
}
.product-card{
    margin: 20px 40px;
    width: 250px;
    height: 380px;
    background-color: #f8f5f2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
    border: #232323 solid 1px;
}
.product-card:hover{
    box-shadow: 0px 0px 5px 5px #f3dfd6;
}
.img-container{
    position: relative;
    display: flex;
    flex-direction: row;
}
.product-img{
    height: 130px;
    margin: 10px;
}
.veg-icon{
    position: absolute;
    right: -28px;
    top: 0;
    width: 15px;
    height: 15px;
    z-index: 1;
}
.product-name{
    margin: 10px;
    color: #232323;
    font-size: 15px;
}
.discount-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.price-with-taxes{
    display: flex;
    flex-direction: column;
}
.taxes{
    margin: 5px 10px;
    color: #6b6b6b;
    font-size: 13px;
}
.price-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
}
.mrp-price{
    color: #6b6b6b;
}
.dmart{
    font-weight: 600;
    font-size: 17px;
}
.save-amt{
    margin: 0px 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #abe5e5;
    margin-left: 20px;
    border-radius: 5px;
}
.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px 10px;
    font-weight: 600;
    padding: 10px;
    background-color: #078080;
    color: #232323;
    border: none;
    border-radius: 5px;
}
.add-to-cart:hover{
    box-shadow: 0px 0px 3px 3px #4cabab;
}
.add-to-cart img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

/* Media Queries for Mobile Device */
@media screen and (max-width: 768px){
    .premium_picks_container h1{
        font-size: 30px;
        padding: 15px 10px;
    }
    .product-card-container{
        width: 90%;
        margin: 0px auto;
    }
    .product-card{
        margin: 15px 20px;
        width: 230px;
        height: 310px;
    }
    .product-img{
        height: 90px;
        margin: 10px;
    }
    .veg-icon{
        position: absolute;
        right: -50px;
        top: 3px;
    }
    .product-name{
        font-size: 14px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .discount-div{
        margin-top: 10px;
    }
    .price-container{
        font-size: 14px;
    }
    .dmart{
        font-size: 15px;
    }
    .save-amt{
        padding: 5px;
        font-size: 14px;
    }
    .add-to-cart{
        width: 90%;
        margin: 20px 10px;
    }
    .add-to-cart img{
        width: 16px;
        height: 16px;
    }
}

/* Media Queries for Tablet Device */
@media screen and (max-width: 1050px){
    .premium_picks_container h1{
        font-size: 40px;
        padding: 15px 10px;
    }
    .product-card-container{
        width: 90%;
        margin: 0px auto;
    }
    .product-card{
        width: 250px;
        height: 330px;
    }
    .product-img{
        height: 90px;
        margin: 10px;
    }
    .veg-icon{
        position: absolute;
        right: -50px;
        top: -5px;
    }
    .product-name{
        font-size: 14px;
        margin: 10px auto;
        padding: 0 10px;
    }
    .discount-div{
        margin-top: 10px;
    }
    .price-container{
        font-size: 14px;
    }
    .dmart{
        font-size: 15px;
    }
    .save-amt{
        padding: 7px;
        font-size: 14px;
    }
    .add-to-cart{
        width: 90%;
        margin: 20px 10px 10px 10px;
    }
    .add-to-cart img{
        width: 16px;
        height: 16px;
    }
}