*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f5f2;
    color:#33272a;   
}

.font-family{
    font-family: "Mulish", sans-serif;
}

.bg-light{
    background-color: #f8f5f2;

}

.bg-primary{
    background-color: #232323;
}

.bg-secondary{
    background-color: #f45d48;
}

.text-primary{
    color: #232323;
} 

.text-secondary{
    color:  #f45d48;
}

.text-dark{
  color:#033030;

}

.text-center{
    text-align: center;
    margin:10px auto;
    padding:5px;
}

.btn-primary{
    background-color:#232323; ;
}

.btn-secondary{
    background-color: #f45d48;
}

.no-underline{
    text-decoration: none;
}

.center-items{
    margin:10px auto;
    display: block;
}

/* Navbar Style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #faddcf;
}
.logo-img img{
    height: 60px;
}
.menu-name{
    text-decoration: none;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
    font-style: italic;
}
.menu-name:hover{
    color: #f45d48;
}
.signin{
    padding: 5px 20px;
    background-color: #f45d48;
    border-radius: 5px;
    color: #232323;
}
.signin:hover{
    box-shadow: 0px 0px 10px 5px #ea6959;
    cursor: pointer;
    color: #232323;
    background-color: #f45d48;
}
.signin a:hover{
    color: #232323;
}

/* Card style */
.main_premium_picks_container{
    width: 100%;
    background-color: #f8f5f2;
}
.premium_picks_container h1{
    font-size: 45px;
    text-align: center;
    padding: 30px 10px;
    color: #232323;
}
.product-card-container{
   width: 97%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   background-color: #fffffe;
   margin: 10px 20px;
}
.product-card{
    margin: 20px 40px;
    width: 250px;
    height: 380px;
    background-color: #f8f5f2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
    border: #232323 solid 1px;
}
.product-card:hover{
    box-shadow: 0px 0px 5px 5px #f3dfd6;
}
.img-container{
    position: relative;
    display: flex;
    flex-direction: row;
}
.product-img{
    height: 130px;
    margin: 10px;
}
.veg-icon{
    position: absolute;
    right: -28px;
    top: 0;
    width: 15px;
    height: 15px;
    z-index: 1;
}
.product-name{
    margin: 10px;
    color: #232323;
    font-size: 15px;
}
.discount-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.price-with-taxes{
    display: flex;
    flex-direction: column;
}
.taxes{
    margin: 5px 10px;
    color: #6b6b6b;
    font-size: 13px;
}
.price-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
}
.mrp-price{
    color: #6b6b6b;
}
.dmart{
    font-weight: 600;
    font-size: 17px;
}
.save-amt{
    margin: 0px 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #abe5e5;
    margin-left: 20px;
    border-radius: 5px;
}
.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px 10px;
    font-weight: 600;
    padding: 10px;
    background-color: #078080;
    color: #232323;
    border: none;
    border-radius: 5px;
}
.add-to-cart:hover{
    box-shadow: 0px 0px 3px 3px #4cabab;
}
.add-to-cart img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

footer{
    margin-top: 50px;
    height: 370px;
    width: 100%;
    background-color: #fffffe;
}
.footer-section{
    display: flex;
}
.app-download{
    width: 40%;
    margin: 90px 60px;
}
.app-download p{
    font-size: 15px;
    color: #232323;
    margin-bottom: 40px;
}
.download-app-btn{
    display: flex;
    gap: 30px;
}
.download{
    padding: 7px 20px;
    background-color: #232323;
    color: #fffffe;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 5px;
}
.download img{
    width: 18px;
    height: 18px;
}
.options-section{
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    gap: 80px;
}
.options li{
    list-style-type: none;
    font-size: 14px;
    font-weight: 800;
    line-height: 40px;
}
.copyright{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
}

/* Media Queries for Mobile Device */
@media screen and (max-width: 768px){
    .navbar{
        height: 60px;
    }
    .logo-img img{
        height: 50px;
    }
    .menu-name{
        display: none;
    }
    .signin{
        display: block;
        padding: 5px 20px;
        font-size: 15px;
    }
    .premium_picks_container h1{
        font-size: 30px;
        padding: 15px 10px;
    }
    .product-card-container{
        width: 90%;
        margin: 0px auto;
    }
    .product-card{
        margin: 15px 20px;
        width: 230px;
        height: 310px;
    }
    .product-img{
        height: 90px;
        margin: 10px;
    }
    .veg-icon{
        position: absolute;
        right: -50px;
        top: 3px;
    }
    .product-name{
        font-size: 14px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .discount-div{
        margin-top: 10px;
    }
    .price-container{
        font-size: 14px;
    }
    .dmart{
        font-size: 15px;
    }
    .save-amt{
        padding: 5px;
        font-size: 14px;
    }
    .add-to-cart{
        width: 90%;
        margin: 20px 10px;
    }
    .add-to-cart img{
        width: 16px;
        height: 16px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1300px){
    .navbar{
        height: 70px;
    }
    .logo-img img{
        height: 50px;
    }
    .signin{
        padding: 5px 20px;
        font-size: 15px;
    }
    .menu-name{
        margin-right: 10px;
        font-size: 14px;
    }
}

/* Media Queries for Tablet Device */
@media screen and (min-width: 769px) and (max-width: 1050px){
    .navbar{
        height: 60px;
    }
    .logo-img img{
        height: 50px;
    }
    .menu-name{
        display: none;
    }
    .signin{
        display: block;
        padding: 5px 20px;
        font-size: 15px;
    }
    .premium_picks_container h1{
        font-size: 40px;
        padding: 15px 10px;
    }
    .product-card-container{
        width: 90%;
        margin: 0px auto;
    }
    .product-card{
        width: 250px;
        height: 330px;
    }
    .product-img{
        height: 90px;
        margin: 10px;
    }
    .veg-icon{
        position: absolute;
        right: -50px;
        top: -5px;
    }
    .product-name{
        font-size: 14px;
        margin: 10px auto;
        padding: 0 10px;
    }
    .discount-div{
        margin-top: 10px;
    }
    .price-container{
        font-size: 14px;
    }
    .dmart{
        font-size: 15px;
    }
    .save-amt{
        padding: 7px;
        font-size: 14px;
    }
    .add-to-cart{
        width: 90%;
        margin: 20px 10px 10px 10px;
    }
    .add-to-cart img{
        width: 16px;
        height: 16px;
    }
}
.p-cart{
    margin-top: 100px;
    margin-left: 560px;
    border: solid 2px black;
    margin-right: 490px;
}
.p-cart:hover {
    box-shadow:0px 0px 5px 5px #f3dfd6 ;
}

.our-team-container{
    height: 600px;
    width: 100%;
    background-color: #fffffe;
    margin: 5px auto;
}
.our-team-container h1{
    font-size: 32px;
    color: #232323;
    text-align: center;
    margin: 10px;
    padding: 20px;
}
.our-team{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    margin: 20px auto;
    justify-content: space-around;
}
.team-card{
    height: 200px;
    width: 180px;
    background-color: #f8f5f2;
    border: 1px solid #232323;
    border-radius: 5px;
}
.team-card:hover{
    box-shadow: 0px 0px 5px 5px #f3dfd6;
}
.team-img{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.team-img img{
    height: 90px;
    border-radius: 50%;
}
.team-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.team-name{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: #232323;
}
.team-member{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #6b6b6b;
}
.social-media-sites{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-media-sites a{
    text-decoration: none;
}
.social-media-sites img{
    height: 18px;
}

@media screen and (max-width: 400px){
    .our-team-container{
        height: auto;
        padding-bottom: 20px;
    }
    .our-team-container h1{
        font-size: 25px;
    }
    footer{
        margin-top: 30px;
        height: 600px;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
    }
    .app-download{
        width: 100%;
        margin: 30px;
    }
    .app-download p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .download-app-btn{
        display: flex;
        gap: 20px;
    }
    .download{
        font-size: 14px;
    }
    .download img{
        width: 16px;
        height: 16px;
    }
    .options-section{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 30px;
        margin-left: 50px;
    }
    .copyright{
        padding: 5px;
        margin: 10px;
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (min-width: 401px) and (max-width: 900px){
    .our-team-container{
        padding-bottom: 30px;
        height: auto
    }
    .our-team-container h1{
        font-size: 25px;
    }
    footer{
        margin-top: 30px;
        height: auto;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
    }
    .app-download{
        width: 100%;
        margin: 40px;
    }
    .app-download p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .download-app-btn{
        display: flex;
        gap: 20px;
    }
    .download{
        font-size: 14px;
    }
    .download img{
        width: 16px;
        height: 16px;
    }
    .options-section{
        display: flex;
        justify-content: center; 
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 30px;
        margin-left: 20px;
    }
    .copyright{
        padding: 10px;
        margin: 10px;
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (min-width: 901px) and (max-width: 1300px){
    .our-team-container{
        padding-bottom: 30px;
        height: auto
    }
    .our-team-container h1{
        font-size: 28px;
    }
    footer{
        margin-top: 30px;
        height: auto;
    }
    .footer-section{
        display: flex;
        width: 100%;
    }
    .app-download{
        width: 40%;
        margin: 40px 30px;
    }
    .app-download p{        
        font-size: 16px;
        margin-bottom: 25px;
    }
    .download-app-btn{
        display: flex;
        gap: 20px;
    }
    .download{
        font-size: 15px;
    }
    .download img{
        width: 16px;
        height: 16px;
    }
    .options-section{
        display: flex;
        justify-content: center; 
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 30px;
        margin-left: 20px;
    }
}